

.profile-home {
  font-family: 'Ubuntu', sans-serif;
  color: #055052;
}

.profilehome-left {
  background-color: #F4EEE8;
  margin: 0 -30px;
  padding: 20px;
  height: 90vh;
}

.left-list {
  padding: 10px 30px;
  list-style: none;
}

.left-list a {
  text-decoration: none;
  color: #055052;
}

.profile-name {
  font-size: 80%;
  font-family: 'Ubuntu', sans-serif;
  padding: 30px;
  color: #055052;
}

.profile-name-img {
  margin: 30px;
  width: 50%;
  border-radius: 50%;
}

.profile-bio-title {
    padding: 0 30px 0;
}

.profile-bio-text {
  font-size: 80%;
  padding: 0 30px;
  text-align: justify;
}

.profile-detail {
    padding: 0 0 0 20px;
}

.profile-year {
    font-size: 80%;
    padding: 0 20px 0;
    text-align: justify;
}

.profile-skills {
  margin: 0 20px 0 0;
    font-size: 80%;
}

.title-detail {
  margin: -10px 0 5px;
}

.project-btn {
  margin: 2px 5px;
}
